/* ==== STYLE RESET ==== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  overflow-y: auto;
  font-family: "Raleway";
}
img,
picture {
  width: 100%; /* Works better when inside a div */
}

/* ==================== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  z-index: 999;
  background-color: white;
  position: sticky;
  top: 0px;
}
#main-nav {
  display: flex;
  align-items: center;
}

.list-items {
  display: flex;
  gap: 1rem;
  font-size: 1.125rem;
}

.dropdown {
  display: block;
  z-index: 500;
  position: absolute;
  width: 100%;
  right: 0;
  background-color: white;
  top: 4rem;
  transition: width 500ms ease-in-out, z-index 400ms ease-in-out;
  overflow: hidden; /* This is what really makes the animation look smooth, by cropping out the inner elements */
}

.dropdown .list-item {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.dropdown .list-item:hover {
  background-color: beige;
}

.hide {
  z-index: -1;
  width: 0;
}

/* ------- Menu Toggle -------- */

.menu-toggle {
  display: block;
  border: 1px solid grey;
  padding: 7px 4px;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: white;
}

.menu-icon:before,
.menu-icon:after {
  content: " ";
}
.menu-icon,
.menu-icon:after,
.menu-icon:before {
  display: block;
  width: 100%;
  height: 3px;
  background: #5e5e5e;
  position: relative;
  border-radius: 8px;
  transition: all 500ms;
}

.menu-icon {
  top: 8px;
}

.menu-icon:before {
  bottom: 8px;
}

.menu-icon:after {
  top: 5px;
}
/* -- Changes the icon when clicked -- */
.open {
  background: transparent;
}

.open:after {
  transform: rotate(45deg) translate(-5px, -6px);
}

.open:before {
  transform: rotate(-45deg) translate(-5px, 6px);
}

/* ---- Language Toggle -------- */

.lang-btn {
  color: white;
  font-weight: 700;
  background-color: red;
  padding: 6px;
  border-radius: 50%;
  /* box-shadow: 4px 0px 2px grey; */
}

.lang-toggle {
  border: 1px solid grey;
  background-color: #f1f1f1;
  width: 60px;
  display: flex;
  justify-content: end;
  border-radius: 30% / 50%;
  padding: 1px;
}

.es-toggle {
    justify-content: start;
}
/* ======================== */

.hero-section {
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* =========== Media Queries ========== */

/* Sets styling for screens larger than 720px (Tablets) */
@media screen and (min-width: 720px) {
  .menu-toggle {
    display: none;
  }
  .logo-img {
    order: -1;
  }
}
